@import "var";
@import "mixins";

.exel__header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;


  &-input{
    margin: 0;
    padding: 2px 7px;
    color:gray;
    border: transparent;
    border-radius: 2px;
    outline: 0;
    &:hover{
      border: 2px solid $border-color;
    }
    &:focus{
      border:2px solid blue;
    }

  }
  &-btn{

  }
  button{
@include button(red);
  }
}